@font-face{
	font-family: 'Open Sans', sans-serif;
}

body { 
	height: 100vh; 
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;

}
#flashContent { width:100%; height:100%; }

object{
	height: 100vh;
	width: 100%;
	margin:0;
}

.main{
	height: 100vh;
}

.body1{
	background-color: rgba(128,0,0,0.8);
	color: #fff !important;
	height: -webkit-fill-available;
}

.btn-block{
	border-radius: 0;
	color: maroon;
}

.navbar-nav{
	width: 100%;
	margin: 0;
}

.navbar-collapse.collapse{
	margin-left: inherit;
}